

.octodex{
 
position:relative;

}

.octocat{
  float: left;
border-bottom: 1px solid  gray;
margin: 3px;
padding-bottom: 3px;

}

.octocat img{
  height: 275px;
  width: 250px;
  margin: 0px;
  border: 1px solid  gray;
  margin-bottom: 3px;
  border-radius:4px;
}

.image-number{
  float: left;  
  font-size: 12px;
  color:black;
  font-weight: bold;

}

.image-caption{
float: right;
font-size: 12px;
color: black;
font-weight: bold;
}

.authors{
float: right;

}

.authors img{
height: 12px; 
width: 12px;
float:right;
}


.bracketed:before  {
  content:" order-style: solid;
border-width: 10px 10px 0 10px;
border-color: #3b3c3d black black black;
position: absolute";
width: 255;
height: 250;

